main {
    margin: 3%;
}
h1 {
    padding: 20px;
    text-align: center;
    background-color: #343a40;
    color: white;
}

form {
    padding: 10px;
    background-color: rgb(111, 165, 201);
}
.results{
    width: 100% !important;

}

#searchResults {
    text-align: center;
    margin: 0 auto;
}

.fiveDayForecasts {
    box-sizing: content-box;
    justify-content: space-around;
}
