main {
    margin: 3%;
}
h1 {
    padding: 20px;
    text-align: center;
    background-color: #343a40;
    color: white;
}

form {
    padding: 10px;
}
#searchResults {
   width: 700px;
   padding-right: 100px;
}


